.header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.header .header-text {
  color: lightseagreen;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.primary {
  background-color: lightseagreen;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
}

.toggleDiv {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  text-align: center;
}

.toggleDiv .toggleOption {
  flex: 1;
}

.searchToggle-button {
  padding: 5px;
  font-size: medium;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s ease;
}

.resultList{
  padding: 3px;
  list-style: none;
}

.resultListItem{
  padding: 3px;
  list-style: none;
}

.resultListButton{
  /* border: none; */
  background-color: white;
  cursor: pointer;
}

.userPlaylists {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.playlistSearch {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.playlistSearch .playlistSearch-box {
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: medium;
  border-width: 1px;
  /* box-shadow: 3px 3px 5px black; */
}

.playlistSearch .playlistSearch-button {
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 1px;
  box-shadow: 3px 3px 5px lightseagreen;
  background-color: lightseagreen;
  font-size: medium;
  color: white;
  cursor: pointer;
}

.playlistSearch .playlistSearch-container {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.playlistSearch .playlistSearch-containerLeft {
  flex: 1;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

.playlistSearch .playlistSearch-containerRight {
  flex: 1;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}
